<section id="contacto" class="contact">
  <h2>{{ language.copy().shared.contact.title }}</h2>
  <p>{{ language.copy().shared.contact.description }}</p>

  <form>
    <input type="text" [placeholder]="language.copy().shared.contact.form.namePlaceholder">
    <input type="email" [placeholder]="language.copy().shared.contact.form.emailPlaceholder">
    <textarea [placeholder]="language.copy().shared.contact.form.messagePlaceholder"></textarea>
    <button type="submit">{{ language.copy().shared.contact.form.submit }}</button>
  </form>
</section>
